# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Packaged/

# Visual Studio / Rider
.vs/
*.sln
*.suo
*.user
*.userosscache
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Compiled
*.dll
*.exe
*.pdb
*.obj
*.lib
*.pch

# Plugin docs
Plugins/HexMapDepthGenerator/Docs/
